{% extends 'users/user_base.html' %}

{% block title %}
    我的消息
{% endblock %}

{% block breach %}
    我的消息
{% endblock %}

{% block right %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的消息</h1>
            </div>

        </div>
        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li class="active"><a href="{% url 'users:user_message' %}">个人消息</a></li>
                </ul>
            </div>

            <div class="messagelist">

                {% for message in messages %}
                    <div class="messages" id="message" msg_id="{{ message.id }}">
                        <div class="fr">
                            <div class="top">
                                <span class="fl time">{{ message.add_time }}</span><span
                                    class="fr btn foldbtn"></span>
                            </div>
                            <p {% if not message.message_status %} style="color: hotpink" {% endif %}>
                                {{ message.message_content }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="pageturn pagerright">
                {# <ul class="pagelist">#}
                {# <li class="active"><a href="?page=1">1</a></li>#}
                {# </ul>#}
                <ul class="pagelist">
                    {% if pages.has_previous %}
                        <li class="long">
                            <a href="?pagenum={{ pages.previous_page_number }}&category={{ category }}&city_id={{ city_id }}&sort={{ sort }}">
                                上一页
                            </a>
                        </li>
                    {% endif %}

                    {# paginator.page_range 页码 #}
                    {% for num in pages.paginator.page_range %}
                        <li
                                {% if num == pages.number %}
                                    class="active"
                                {% endif %}
                        >
                            <a href="?pagenum={{ num }}&category={{ category }}&city_id={{ city_id }}&sort={{ sort }}">
                                {{ num }}
                            </a>
                        </li>
                    {% endfor %}

                    {% if pages.has_next %}
                        <li class="long">
                            <a href="?pagenum={{ pages.next_page_number }}&category={{ category }}&city_id={{ city_id }}&sort={{ sort }}">
                                下一页
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

{% block js1 %}
    <script>
        $(function () {
            $('#message').click(function () {
                let message_id = $(this).attr('msg_id')
                {#console.log('message_id:->', message_id)#}
                $.ajax({
                    type: 'GET',
                    url: '{% url 'operations:user_message' %}',
                    data: {
                        {#已读#}
                        status: 'True',
                        message_id: message_id,
                    },
                    success: function (callback) {
                        if (callback.status === 200) {
                            {#alert(callback.msg)#}
                            window.location.reload()
                        } else {
                            alert(callback.msg)
                        }
                    }
                })
            })
        })
    </script>
{% endblock %}

