{% extends 'users/user_base.html' %}

{% load static %}

{% block title %}
    我的收藏
{% endblock %}

{% block breach %}
    我的收藏
{% endblock %}

{% block right %}
    <div class="right">
        <div class="personal_des Releasecont">
            <div class="head">
                <h1>我的收藏</h1>
            </div>

        </div>
        <div class="personal_des permessage">
            <div class="head">
                <ul class="tab_header messagehead">
                    <li {% if request.path == '/users/user_love_org/' %} class="active" {% endif %}>
                        <a href="{% url 'users:user_love_org' %}">课程机构</a>
                    </li>
                    <li {% if request.path == '/users/user_love_teacher/' %} class="active" {% endif %}>
                        <a href="{% url 'users:user_love_teacher' %}">授课教师 </a>
                    </li>
                    <li {% if request.path == '/users/user_love_course/' %} class="active" {% endif %}>
                        <a href="{% url 'users:user_love_course' %}">公开课程</a>
                    </li>
                </ul>
            </div>

            <div class="messagelist">

                <div class="messages butler_list company company-fav-box">

                    {% for org in orgs %}

                        <dl class="des fr">
                            <dt>
                                <a href="{% url 'orgs:org_detail' org.id %}">
                                    <img width="160" height="90" src="{{ MEDIA_URL }}{{ org.image }}"
                                         alt="{{ org.name }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{% url 'orgs:org_detail' org.id %}">{{ org.name }}</a></h1>
                                <div class="pic fl" style="width:auto;">

                                    <img src="{% static 'images/authentication.png' %}" alt="认证"/>

                                    <img src="{% static 'images/gold.png' %}" alt="金牌"/>

                                </div>
                                <span class="c8 clear">{{ org.address }}</span>

                                <div class="delete jsDeleteFav_org" data-favid="{{ org.id }}"></div>
                            </dd>
                        </dl>

                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block dialog %} {% endblock %}

{% block js1 %}
    <script>
        {#  删除收藏  #}
        $(function () {
            $('.delete').click(function () {
                {# attr 自定义属性 prop 元素自带的值 #}
                let org_id = $(this).attr('data-favid')
                let obj = $(this)
                $.ajax({
                    type: 'GET',
                    url: '{% url 'operations:user_delete_love' %}',
                    data: {
                        love_id: org_id,
                        love_type: 1
                    },
                    success: function (callback) {
                        if (callback.status === 200) {
                            alert(callback.msg)
                            {#window.location.reload()#}
                            obj.parents('.des').remove()
                        } else {
                            alert(callback.msg)
                        }
                    }
                })
            })
        })

    </script>
{% endblock %}